.hover-columna
  position: relative
.centrar-imagen 
  display: flex
  align-content: center
  align-items: center
.centrar-img
  margin: 0 auto
.italic  
  font-style: italic
.r-5
  border-radius: 5px  
.text-left
  text-align: left  

.banner-interno__fondo 
  background-image: url('../assets/curso/banner-interno.png') !important


.separador2
  height: 1px
  width: 100%
  background-color: #737995
  margin-bottom: 3rem!important
  margin-top: 3rem!important;

.bg-degrade-gris-horizontal 
  background: rgb(222,222,222)
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)
.bg-degrade-gris-vertical
  background: rgb(246,246,246)
  background: linear-gradient(275deg, rgba(246,246,246,0) 0%, rgba(239,237,237,1) 100%)
.bg-tema1
  background-image: url('../assets/curso/tema1-bg1.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem
.bg-tema-1-1
  background-image: url('../assets/curso/tema1-1-bg1.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem   
.tema1-1-bg-slider
  background-image: url('../assets/curso/tema1-1-bg-slider.png')     
  background-size: cover
  background-repeat: no-repeat
.tema1-1-bg-slider-content
  background-color: #E7CD66  
  border-bottom-left-radius: 27px
  border-bottom-right-radius: 27px
.bg-tema-1-2
  background-image: url('../assets/curso/tema1-2-bg1.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: cover
    background-position: 50% 37%
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
.bg-tema1-3-1
  background-image: url('../assets/curso/tema1-3-3-bg.png')
.bg-tema1-3-4
  background-image: url('../assets/curso/tema1-3-4-bg.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem 
.bg-tema-1-3-7
  background-image: url('../assets/curso/tema1-3-7-bg.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem     
.bg-tema-1-4-1
  background-image: url('../assets/curso/tema1-4-1-bg.png')
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: 100% 100%
    background-position: bottom center !important
  @media screen and (max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem       
.bg-tema-2
  background-image: url('../assets/curso/tema2-bg-1.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
.bg-tema2-1
  background-image: url('../assets/curso/tema2-1-bg1.png')
  background-position: 50% 50%
  background-size: 100% 75%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
  @media screen and (min-width: 1398px)
    background-size: 100% 65%
.bg-tema2-2
  background-image: url('../assets/curso/tema2-2-bg-1.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
  @media screen and (min-width: 1398px)
    background-size: 100% 65%    
.bg-tema-2-3-1
  background-image: url('../assets/curso/tema2-3-1-bg1.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: cover
    background-position: center
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem    
.bg-tema-2-3-3
  background-image: url('../assets/curso/tema2-3-3-fondo.jpg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem      
.bg-tema-2-3-4
  background-image: url('../assets/curso/tema2-3-4-fondo.jpg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem   
.bg-tema-2-4
  background-image: url('../assets/curso/tema2-4-bg.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: cover
    background-position: center
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem     
.bg-tema-2-4-2
  background-image: url('../assets/curso/tema2-4-bg2.png')
  background-position: 50% 47%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (min-width: 1398px)
    background-size: cover
    background-position: center
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem                
.bg-absoluto
  background-position: 50% 79%
  background-size: contain
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and ( max-width: 992px)
    background-size: cover 
    margin-inline: -1.4rem
.esquina
  background-image: url('../assets/curso/esquina.png')    
  background-repeat: no-repeat
  background-position: bottom left
.bg-tema2-3-6
  background-image: url('../assets/curso/tema2-3-6-fondo.png')  
  

.bg-acento-contenido
  background-color: #E2C140
.bg-acento-contenido2
  background-color: #FFE597    
.bg-1
  background-color: #F3F9FF
.bg-2
  background-color: #FDE0EF
.bg-3
  background-color: #F5E9BB
.bg-degrade-azul
  background: rgb(3,155,229)
  background: linear-gradient(180deg, rgba(3,155,229,1) 0%, rgba(2,127,188,1) 100%)  

.neg--top  
  margin-top: -2.5rem
  @media (max-width: 992px)  
    margin: 0    

.lista-ul--color.color-acento-botones li > i:first-of-type  
  color: #FF2C9C
  font-size: 14px
.lista-ul--color.color-primario li > i:first-of-type
  color: #1565C0
  font-size: 14px
.lista-ul--color.color-acento-contenido li > i:first-of-type
  color: #E2C140
  font-size: 14px  

.titulo-personalizado
  background-color: #12263F
  width: fit-content
  padding: 7px 15px 

.cajon.color-acento-contenido
  background-color: #F5E9BB  
.titulo-tercero h3
  border-bottom: 3px solid #E2C140
  line-height: 35px
  width: fit-content


.slyder-f.tema1-1 .slyder-f__btn
  width: 9%  
  @media screen and (max-width: 992px)
    width: 10%
.slyder-f.tema1-1 .slyder-f__btn i
  font-size: 1.5rem
  color: #FFF
  background-color: #E2C140
  border-radius: 50%
  width: 55px
  height: 38px
  display: flex
  justify-content: center
  align-items: center
  @media screen and ( max-width: 992px)
    font-size: 1rem
    height: 30px
.slyder-f.tema1-1  .slyder-f__main
  border-radius: 35px
  border: 1px solid #f7f7f7  
  -webkit-box-shadow: 0px 3px 6px 2px rgba(240,240,240,1)
  -moz-box-shadow: 0px 3px 6px 2px rgba(240,240,240,1)
  box-shadow: 0px 3px 6px 2px rgba(240,240,240,1)
.tema1-1 .slyder-a__btn--sigt, .tema1-1 .slyder-a__btn--atrs
  background-color: rgb(2,127,188)
  background-color: linear-gradient(0deg, rgba(2,127,188,1) 0%, rgba(3,155,229,1) 100%)
  background-image: url('../assets/curso/flecha-blanca.svg') !important
  background-size: 19px 19px
  @media screen and ( max-width: 992px)
    height: 40px
    width: 40px
.tema1-1 .slyder-a__tipo-b .slyder-a__btn--atrs
  transform: rotate(0deg)
.tema1-1 .slyder-a__tipo-b .slyder-a__btn--sigt
  transform: rotate(180deg) 
.tema1-1 .slyder-a__tipo-b .slyder-a__btn--sigt .indicador__container
  transform: rotate(180deg)  
.tema1-1 .slyder-a__bullets__item--active
  background-color: #E2C140 !important
  border-color: #E2C140
.tema1-1 .slyder-a__bullets__item
  background-color: #2A81A5  
  opacity: 1

.tema1-2.bloque-texto-g.color-secundario
  background-color: #12263F 

.tema1-3-2.bloque-texto-a.color-secundario
  background-color: #12263F !important
.tema1-3-2.bloque-texto-a.color-secundario:before
  background-color: #F6F6F6

.tema1-3-4 .tarjeta--gris
  margin-bottom: 10px !important
  background-color: #F9F9F9

.tema1-3-6.bloque-texto-a.color-secundario    
  background-color: #F6F6F6
.tema1-3-6.bloque-texto-a.color-secundario:before
  background-color: #12263F  

.cajon.color-acento-botones:before
  background-color: #FAA7D3
.cajon.color-acento-botones
  background-color: #FDE0EF

.bg-tema-1-4-2 .img-infografica-b__item__tooltip
  display: none
.bg-tema-1-4-2 .img-infografica-b__modal__contenido div > *
  color: #111e61 !important
.bg-tema-1-4-2 .img-infografica-b__modal
  display: flex
  align-items: center
  justify-content: center

.tema2-2 .tabs-b__tab.tabs-b__tab--active .tabs-b__tab__icon
  opacity: 1
.tema2-2 .tabs-b__tab .tabs-b__tab__icon
  opacity: 0.5

.borde-alto
  background: rgb(3,155,229)
  background: linear-gradient(180deg, rgba(3,155,229,1) 0%, rgba(2,127,188,1) 100%)
  height: 14px
  border-top-left-radius: 10px
  border-top-right-radius: 10px
.cajon-azul
  background-color: #FFF
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px

.tema2-3-6 .tarjeta
  height: 303px  

.linea-tiempo-d__item__dots:after
  border-left: 5px dotted #D2E1F1
.linea-tiempo-d__item--selected .tarjeta
  background-color: #F7F2DE



.pasos-a__circle 
  width: 70px
  height: 70px
  min-width: 70px    
.pasos-a.color-acento-botones .pasos-a__circle div
  color: #FFF
.pasos-a__linea__esquina__linea
  border-radius: 0px  
