.hover-columna
  position: relative
.centrar-imagen 
  display: flex
  align-content: center
  align-items: center


.bg-degrade-gris 
  background: rgb(222,222,222)
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)


.neg--top  
  margin-top: -2.5rem
  @media (max-width: 992px)  
    margin: 0    